@font-face {
    font-family: water;
    src: url(./myfont);
}

body {
    text-overflow: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: #8598A9;
}





button {
    margin-top: 30px;
}

#listImage {
    border-radius: 40px;
    border-width: 60px;
    border: 20px;
    width: 50vw;
    height:60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header {
    
    border-radius: 40px;
    border-width: 60px;
    border: 20px;
    font-family: water;
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: xx-large;
    background-color:#C3D2DF;
    
}

#priceInput {
    background-color:#99B7C8;
    border-radius: 40px;
    border-width: 60px;
    border: 20px;
    font-family: water;
}

#postBtn {
    background-color:#99B7C8;
    border-radius: 40px;
    border-width: 60px;
    border: 20px;
    font-family: water;
    margin-left: 20px
}

#farewellBtn {
    background-color:#99B7C8;
    border-radius: 40px;
    border-width: 60px;
    border: 20px;
    font-family: water;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#imageInput {
    background-color:#99B7C8;
    font-family: water;
    border-radius: 40px;
    border-width: 60px;
    border: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#websiteInput {
    background-color:#99B7C8;
    border-radius: 40px;
    border-width: 60px;
    border: 20px;
    font-family: water;
    margin-right: 20px;
}

#homeBack {
    font-family: water;
    background-color:#99B7C8;
    border-radius: 40px;
    border-width: 60px;
    border: 20px;
}

.listExtraStyle {
    width: 100%;
    margin-top: 40px;
    background-color: blue;
  
}